html, body
{
    --background-color: #aaa;
    --black: #333;
    --dark-gray: #999;
    --gray: #ccc;
    --white: #eee;
    --scuRed: #b30738;
    --scuDarkRed: #930028;

    background-color: var(--background-color);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main
{
    background-color: var(--white);
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1rem auto;
    padding: 2rem 4rem;
    /* text-align: center; */
    width: 70%;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul
{
    gap: .8rem;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
}

img
{
    width: 64px;
    height: 64px;
}