html, body
{
    --background-color: #aaa;
    --white: #eee;
    --black: #333;
    --scuRed: #b30738;

    font-family: 'Trebuchet MS', sans-serif;
    background-color: var(--background-color);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main
{
    background-color: var(--white);
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    padding: 2rem 4rem;
    /* text-align: center; */
    width: 70%;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul
{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;

    li
    {
        display: flex;
        text-align: center;

        a
        {
            background-color: var(--scuRed);
            border-radius: 1rem;
            box-sizing: border-box;
            color: var(--white);
            font-size: 16pt;
            height: 100%;
            padding: 1.5rem 0;
            /* padding: 1rem; */
            text-decoration: none;
            transition: all 0.5s;
            width: 100%;
        }

        a:hover
        {
            background-color: var(--black);
        }
    }
}

#usericon
{
    display: flex;
    justify-items: center;
    align-items: center;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 50%;
    background-color: var(--scuRed);
    width: 75px;
    height: 75px;
    margin: 1%;
}

#usericon p
{
    flex: auto;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    color: var(--white);
}

#skills
{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.skill
{
    display: flex;
    padding: 5px 10px 5px 10px;
    border-radius: 5%;
    background-color: var(--background-color);
    border-style: double;
}
.selected
{
    border-style: solid;
    border-color: green;
}
.skill .skillicon
{
    padding: 5px;
    color: var(--scuRed);
}

.skill .skillname
{
    padding: 5px;
}

.skill .cs
{
    color: aquamarine;
}

.skill .business
{
    color: green;
}