html, body
{
    --background-color: #aaa;
    --black: #333;
    --dark-gray: #999;
    --gray: #ccc;
    --white: #eee;
    --scuRed: #b30738;
    --scuDarkRed: #930028;

    background-image: url("../images/background-upscaled.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.hidden
{
    display: none;
}

main
{
    background-color: var(--white);
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1rem auto;
    padding: 2rem 4rem;
    /* text-align: center; */
    width: 70%;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul
{
    gap: .8rem;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
}

img
{
    width: 64px;
    height: 64px;
}

/* User Icon */
#usericon
{
    display: flex;
    justify-items: center;
    align-items: center;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 50%;
    background-color: var(--scuRed);
    width: 75px;
    height: 75px;
    margin: 1%;
}

#usericon p
{
    flex: auto;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    color: var(--white);
}

.skills
{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.skills *
{
    margin: 0 0 3% 0;
}

/* Skills */
.skill
{
    display: flex;
    padding: 5px 10px 5px 10px;
    border-radius: 5%;
    background-color: var(--background-color);
    border-style: solid;
    text-align: center;
    border-width: thin;
}

.skill .skillicon
{
    padding: 5px;
    color: var(--scuRed);
}

.skill .skillname
{
    padding: 5px;
}

.skill.removable:hover
{
    border-color: darkred;
}

.skill.selectable:hover
{
    border-color: darkgreen;
}

.skill.cs .skillicon
{
    color: aquamarine;
}

.skill.business .skillicon {
    color: green;
}

/* Project List Item */
section#projectlist figure
{
    box-sizing: border-box;
    line-height: 1.5;
    height: 100%;
    margin: 0;
    padding: 2rem;
    width: 70%;
}

section#projectlist figure article
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

section#projectlist article img
{
    border-radius: 100%;
    margin-right: 1rem;
}

section#projectlist article h1
{
    margin: 1rem 0;
}

section#projectlist figure ul
{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section#projectlist figure ul li
{
    background-color: var(--white);
    border-radius: .5rem;
    box-sizing: border-box;
    padding: 0.2rem 1rem;
}

section#projectlist .description
{
    margin: 1rem 0;
}

section#projectlist aside
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    width: 30%;
}

section#projectlist aside *
{
    margin: 0;
    padding: 0;
}

section#projectlist .interestButton
{
    background-color: var(--white);
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    transition: all .5s;
    margin-bottom: 5%;
}

section#projectlist .interestButton.selected
{
    background-color: var(--scuRed);
    color: var(--white);
}

section#projectlist .interestButton.selected:hover
{
    background-color: var(--scuRed);
}

section#projectlist .interestButton:hover
{
    background-color: var(--background-color);
}

section#projectlist .peopleInterested
{
    font-style: italic;
    text-align: center;
}

section#projectlist mark
{
    background-color: var(--gray);
}

section#projectlist
{
    background-color: var(--gray);
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 2% 0 0 0;
    overflow: hidden;
    padding: 0;
}

section#projectlist h1 {
    font-size: xx-large;
}

section#projectlist h3, section#projectlist #skills {
    margin-bottom: 0;
}