main {
    width: 60%;
}

header h1 {
    font-size: xx-large;
}

#createproject, #editproject {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:10px;
}
input,textarea,select{
    border: 0px;
    border-radius: 12px;
    padding:0.3rem;
    font-size: large;
    font-family: "Onest", sans-serif;
    opacity: 0.6;
    resize: none;
    transition: .2s all ease-in-out;
    max-width: 75%;
}
input:focus,textarea:focus,select:focus{
    opacity: 1.0;
    padding:1rem;
}
label{
    font-weight: 500;
    font-size: large;

}

.meetup-details{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}
#peopleRequired{
    max-width: 30%;
}
#createproject header, #editproject header {
    font-size: x-large;
    font-weight: bold;
    color: #1a1a1a;
}

.row * {
    margin: 0 0 1% 0;
}

.row {
    margin-top: 0%;
}

#imageupload {
    cursor: pointer;
    color: cornflowerblue;
}

#imageupload input {
    display: none;
}

#imageupload:hover {
    color: blue;
}

.row textarea {
    vertical-align: top;
}

#submit, #home {
    background-color: var(--scuRed);
    color: white;
    padding:15px 30px; 
    width: auto;
    opacity: 1.0;
    margin-right: 3%;
    border-width: thin;
    transition: all 0.2s ease-in-out;
}

#submit:hover, #home:hover {
    scale:1.05;
    cursor: pointer;
}


#projectlist article * {
    margin: 0;
}



.endrow {
    margin-top: 5%;
}

.selected {
    opacity: 1.0;
    border-color: green;
    opacity: 1.0;
}

#selectskills * {
    cursor: pointer;
    user-select: none;
}

#selectskills .skill {
    opacity: 0.5;
}

#selectskills .selected {
    opacity: 1.0;
}

#selectskills .hidden
{
    display: none;
}



.upload-container {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the container circular */
    overflow: hidden;
    position: relative;
    background-color: var(--scuRed); /* Light grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.upload-label {
    color:white;
    z-index: 2;
}

#fileUpload {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#preview {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the circle */
    border-radius: 50%; /* Makes the image circular */
}


#removeImage{
    margin-right: auto;
    font-family: 'Onest', sans-serif;
    font-weight: 600;
    background-color: var(--scuRed);
    color: white;
    padding:10px 20px;
    width: auto;
    border:none;
    border-radius: 6px;
    transition:.2s all ease-in-out;
}
#removeImage:hover{
    scale:1.05;
}