main {
    width: 60%;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#userform {
    display: block;
}

.userinfo * {
    margin: 0 0 3% 0;
}

.userinfo textarea, input, select {
    color:black;
    font-weight: 450;
    padding:1rem;
}
label{
    font-weight: 500;
    font-size: x-large;

}

.userinfo textarea {
    vertical-align: top;
    resize: none;
    padding: 5px 0 0 5px;
}

.skill.removable:hover, .skill.selectable:hover {
    cursor: pointer;
}

#skills {
    margin-top: 10px;
}

#addskills {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 10px;
}
#userform {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:10px;
}
input,textarea,select{
    border: 0px;
    border-radius: 12px;
    padding:0.75rem;
    opacity: 0.6;
    resize: none;
    font-size: large;
    transition: .2s all ease-in-out;
    max-width: 75%;
}
.submit, .home {
    background-color: var(--scuRed);
    color: white;
    border-style: solid;
    border:none;
    padding:1.5rem;
    margin-right: 3%;
    border-width: thin;
    transform: .2s all ease-in;
}

.home {
    background-color: var(--scuRed);
}

.submit:hover, .home:hover, .logout:hover {
    scale:1.05;
    opacity: 1.0; 
    cursor: pointer;
}

#showPasswordLogo {
    display: block;
    padding: 0.3rem;
    width: 20px; /* Desired width */
    height: 20px; /* Desired height, adjusted to maintain the aspect ratio */
    background: url("../images/eye.svg") no-repeat center center;
    background-size: cover;
    opacity: 0.5;
    transition: .2s all ease-in-out;
  }

#showPasswordLogo:hover{
    opacity:1.0;
    scale:1.1;
}
.password-w-checkbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

#addskills .skill {
    opacity: 0.5;
}

#addskills .selected {
    opacity: 1.0;
}