main {
    width: 50%;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    margin-bottom: 5%;
}

#userform {
    display: block;
}

.userinfo * {
    margin: 0 0 3% 0;
}

.userinfo label, textarea, input, select {
    font-size: large;
}

.userinfo textarea {
    vertical-align: top;
    resize: none;
    padding: 5px 0 0 5px;
}

.skill.removable:hover, .skill.selectable:hover {
    cursor: pointer;
}

#skills {
    margin-top: 10px;
}

#addskills {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 10px;
}

.submit, .home, .logout {
    background-color: var(--scuRed);
    color: white;
    border-style: solid;
    border-color: black;
    padding: 2% 4% 2% 4%;
    margin-right: 3%;
    border-width: thin;
}

.home {
    background-color: var(--scuRed);
}

.submit:hover, .home:hover, .logout:hover {
    font-weight: bold;
    cursor: pointer;
}

#showPasswordLogo {
    display: block;
    padding: 0.3rem;
    width: 20px; /* Desired width */
    height: 20px; /* Desired height, adjusted to maintain the aspect ratio */
    background: url("../images/eye.svg") no-repeat center center;
    background-size: cover;
    opacity: 0.5;
    transition: .2s all ease-in-out;
  }

#showPasswordLogo:hover{
    opacity:1.0;
    scale:1.1;
}
.password-w-checkbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

#addskills .skill {
    opacity: 0.5;
}

#addskills .selected {
    opacity: 1.0;
}