header ul
{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
}

header ul li
{
    background-color: #1a1a1a;
    color: var(--white);
    cursor: pointer;
    padding: 1.5rem;
    text-wrap: nowrap;
    transition: all .2s;
    width: fit-content;
    height: min-content;
    transition: .2s all ease-in;
    opacity: 0.5;
    border-radius: 12px;
    font-weight: 400;
    
}
header ul li:hover
{
    scale:1.02;
    opacity: 0.8;
    font-weight: 600;
}

#createProject{
    margin-left: auto;
    opacity: 1.0;
}
.active
{
    font-weight: 700;
    opacity: 1.0;
    background-color: var(--scuRed);
}
.hidden
{
    display: none;
}

.projectlist * {
    cursor: pointer;
}

#searchprojects {
    outline:6px solid var(--scuRed);
    padding: 1rem;
    border:1px solid var(--scuRed);
    border-radius: 12px;
    font-weight: 700;
    font-size: large;
    font-family: "Onest", sans-serif;
    transition: .2s all ease-in-out;
    width: 90%;
    
}

#searchprojects:focus {
    outline:6px solid rgba(0,0,0,0.5)
}

#searchicon{
    width: 30px;
    height: 30px;
    transition: .2s all ease-in-out;
}

#searchicon:hover{
    scale:1.5;
}

#searchbar{
    font-family: "Onest", sans-serif;
    display:flex;
    justify-content:left;
    flex-direction: row;
    border-radius: 16px;
    align-items: center;
    gap:10px;
    padding:10px;
    background-color: var(--scuRed);
}