header ul
{
    display: flex;
    flex-direction: row;
}

header ul li
{
    background-color: var(--dark-gray);
    color: var(--white);
    cursor: pointer;
    padding: .5rem;
    text-wrap: none;
    transition: all .2s;
}

.active
{
    background-color: var(--scuRed);
    text-decoration: solid underline;
}

section#projectlist
{
    background-color: var(--gray);
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

h3, #skills {
    margin-bottom: 0;
}