header ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header ul li
{
    background-color: var(--dark-gray);
    color: var(--white);
    cursor: pointer;
    padding: 2%;
    text-wrap: nowrap;
    transition: all .2s;
    width: fit-content;
    height: min-content;
}

.active
{
    background-color: var(--scuRed);
    text-decoration: solid underline;
}
.hidden
{
    display: none;
}

.projectlist * {
    cursor: pointer;
}